// Fonts
$primaryFont: "Source Sans Pro", sans-serif;

// Color

$white: #ffffff;
$purple: #45197c;
$gray: #45197c;
$deep_blue: #00c2ff;
$blue: #0000ff;
$deep_black: #383838;
$black: #000000;
$light_black: #383838;
$mat: #eeeeee;
$male: #e4e4e4;
$female: #c6c6c6;
$border: #b3b3b3;
$filtercolor: #7f7f7f;
$cancelborder: #c8b8d8;
$okBackground: #383838;
$green: green;
$red: red;
$countryColor: #d7d7d7;
$lightgreen: #e6f3e7;
$lightred: #fae6e6;
$customcolor: #797979;
$view: #d1d1d1;
$doctorView: #959595;
$cardBackground: #f6f6f6;
