<div class="view-container" *ngIf="viewUser=='doctorpopup'">
    <div class="icon-close py-3 pe-4 d-flex justify-content-end"><img (click)="closeModal()" class="cursor" src="assets/images/svg/close.svg" alt=""></div>
    <hr class="p-0 m-0">
    <div class="profile-details d-flex align-items-center">
        <div class="image">
            <img class="patientimg" *ngIf="viewDetail?.profilePic!=null || viewDetail?.profilePic!=undefined ||  viewDetail?.profilePic; else intial" [src]="viewDetail?.profilePic" alt="" >
            <ng-template #intial>
              <div class="imageintial ">
             {{viewDetail?.name?.[0]?.[0] | uppercase}}{{viewDetail?.name?.[1]?.[0] | uppercase}}
            </div>
            </ng-template>

        </div>
        <div class="details">
            <h3 class="username">{{viewDetail?.doctorDetails?.fullName}}</h3>
            <p class="occupation m-0" *ngFor="let specialization of viewDetail?.specializationDetails">{{specialization?.name}}<ng-container *ngIf="viewDetail?.specializationDetails.length>1">,</ng-container></p>
        </div>
    </div>
    <hr class="m-0 p-0">
    <div class="profile-details">
        <div class="d-flex align-items-center">
            <img src="assets/images/svg/ragistration.svg" alt="">
            <p class="m-0 registration ps-1">Registrations</p>
        </div>
        <div class="d-flex align-items-center mt-3 ms-2">
            <img src="assets/images/svg/rightblackarrow.svg" alt="">
            <p class='m-0 other-details  ms-3'> {{viewDetail?.medicalRegistration[0]?.registrationNumber}}<ng-container *ngIf="viewDetail?.medicalRegistration[0]?.council">,</ng-container>{{viewDetail?.medicalRegistration[0]?.council}}<ng-container *ngIf="viewDetail?.medicalRegistration[0]?.year">,</ng-container>{{viewDetail?.medicalRegistration[0]?.year}}</p>
        </div>
        <div class="d-flex align-items-center mt-4">
            <img src="assets/images/svg/ragistration.svg" alt="">
            <p class="m-0 education ps-1" >Education</p>
        </div>
        <div class="d-flex align-items-center mt-3 ms-2">
            <img src="assets/images/svg/rightblackarrow.svg" alt="">
            <p class="m-0 other-details  ms-3" *ngFor="let education of viewDetail?.education">{{education?.degree}}<ng-container *ngIf="education?.college">,</ng-container>{{education?.college}}<ng-container *ngIf="education?.year">,</ng-container>{{education?.year}}</p>
        </div>
        <div class="d-flex align-items-center mt-4">
            <img src="assets/images/svg/documents.svg" alt="">
            <p class="m-0 document ps-2" >Document</p>
        </div>
        <div class="d-flex align-items-center mt-3 ">
            <ng-container *ngFor="let image of identityProof">
            <img class="proof ms-2 cursor" *ngIf="image?.fileType=='image'" (click)="fullViewProof(image)"  [src]="image?.url" alt="" onError="this.src='assets/images/svg/nectorIcon.svg'">
            <a [href]="image?.url" target="_blank" *ngIf="image?.fileType=='pdf'">
            <img class="proof ms-2 cursor" src="assets/images/png/pdf.jpeg" alt="">
        </a>
        </ng-container>
        </div>

    </div>
</div>



<!-- viewHospital -->


<div class="view-container" *ngIf="viewUser=='hospitalpopup'">


    <div class="icon-close py-3 pe-4 d-flex justify-content-end"><img (click)="closeModal()" class="cursor" src="assets/images/svg/close.svg" alt=""></div>
    <hr class="p-0 m-0">
    <div class="profile-details d-flex align-items-center">
        <div class="image">
            <img class="patientimg" *ngIf="hospitalDetail?.profilePic!=null || hospitalDetail?.profilePic!=undefined ||  hospitalDetail?.profilePic; else intial" [src]="hospitalDetail?.profilePic" alt="" >
            <ng-template #intial>
              <div class="imageintial ">
             {{hospitalDetail?.name?.[0]?.[0] | uppercase}}{{hospitalDetail?.name?.[1]?.[0] | uppercase}}
            </div>
            </ng-template>

        </div>
        <div class="details">
            <h3 class="username">{{hospitalDetail?.hospitalName}}</h3>
            <p class="occupation m-0" *ngFor="let hospitalType of hospitalDetail?.hospitalTypeDetails">{{hospitalType?.name}}</p>
        </div>
    </div>
    <hr class="m-0 p-0">
<div class="profile-details">
    <div class="d-flex align-items-center mt-4">
        <img src="assets/images/svg/documents.svg" alt="">
        <p class="m-0 document ps-2" >Document</p>
    </div>
    <div class="d-flex align-items-center mt-3 ">
        <ng-container *ngFor="let image of hospitalDetail?.establishmentProof">
        <img class="proof ms-2 cursor" *ngIf="image?.fileType=='image'" (click)="fullViewProof(image)"  [src]="image?.url" alt="" onError="this.src='assets/images/svg/nectorIcon.svg'">
        <a [href]="image?.url" target="_blank" *ngIf="image?.fileType=='pdf'">
        <img class="proof ms-2 cursor" src="assets/images/png/pdf.jpeg" alt="">
    </a>
    </ng-container>
    </div>
</div>
</div>


<!-- rejetedDoctor -->

<div class="view-container" *ngIf="viewUser=='rejectDoctor'">
    <div class="icon-close py-3 pe-4 d-flex justify-content-end"><img (click)="closeModal()" class="cursor" src="assets/images/svg/close.svg" alt=""></div>
    <hr class="p-0 m-0">
    <div class="profile-details d-flex align-items-center">
        <div class="image">
            <img class="patientimg" *ngIf="rejectedDoctorDetail?.doctorProfilePic!=null || rejectedDoctorDetail?.doctorProfilePic!=undefined ||  rejectedDoctorDetail?.doctorProfilePic; else intial" [src]="rejectedDoctorDetail?.doctorProfilePic" alt="" >
            <ng-template #intial>
              <div class="imageintial ">
             {{rejectedDoctorDetail?.name?.[0]?.[0] | uppercase}}{{rejectedDoctorDetail?.name?.[1]?.[0] | uppercase}}
            </div>
            </ng-template>

        </div>
        <div class="details">
            <h3 class="username">{{rejectedDoctorDetail?.doctorName}}</h3>
            <p class="occupation m-0" *ngFor="let specialization of rejectedDoctorDetail?.doctorSpecialization">{{specialization?.name}}<ng-container *ngIf="rejectedDoctorDetail?.doctorSpecialization.length>1">,</ng-container></p>
        </div>
    </div>
    <hr class="m-0 p-0">
    <div class="profile-details">
        <div class="d-flex align-items-center">
            <img src="assets/images/svg/ragistration.svg" alt="">
            <p class="m-0 registration ps-1">Registrations</p>
        </div>
        <div class="d-flex align-items-center mt-3 ms-2">
            <img src="assets/images/svg/rightblackarrow.svg" alt="">
            <p class='m-0 other-details  ms-3'> {{rejectedDoctorDetail?.doctorMedicalRegistration[0]?.registrationNumber}}<ng-container *ngIf="rejectedDoctorDetail?.doctorMedicalRegistration[0]?.council">,</ng-container>{{rejectedDoctorDetail?.doctorMedicalRegistration[0]?.council}}<ng-container *ngIf="rejectedDoctorDetail?.doctorMedicalRegistration[0]?.year">,</ng-container>{{rejectedDoctorDetail?.doctorMedicalRegistration[0]?.year}}</p>
        </div>
        <div class="d-flex align-items-center mt-4">
            <img src="assets/images/svg/ragistration.svg" alt="">
            <p class="m-0 education ps-1" >Education</p>
        </div>
        <div class="d-flex align-items-center mt-3 ms-2">
            <img src="assets/images/svg/rightblackarrow.svg" alt="">
            <p class="m-0 other-details  ms-3" *ngFor="let education of rejectedDoctorDetail?.education">{{education?.degree}}<ng-container *ngIf="education?.college">,</ng-container>{{education?.college}}<ng-container *ngIf="education?.year">,</ng-container>{{education?.year}}</p>
        </div>
        <div class="d-flex align-items-center mt-4">
            <img src="assets/images/svg/documents.svg" alt="">
            <p class="m-0 document ps-2" >Document</p>
        </div>
        <div class="d-flex align-items-center mt-3 ">
            <ng-container *ngFor="let image of identityProofRejected">
            <img class="proof ms-2 cursor" *ngIf="image?.fileType=='image'" (click)="fullViewProof(image)"  [src]="image?.url" alt="" onError="this.src='assets/images/svg/nectorIcon.svg'">
            <a [href]="image?.url" target="_blank" *ngIf="image?.fileType=='pdf'">
            <img class="proof ms-2 cursor" src="assets/images/png/pdf.jpeg" alt="">
        </a>
        </ng-container>
        </div>
        <div class="d-flex align-items-center mt-4" *ngIf="rejectedDoctorDetail?.rejectReason!=null || rejectedDoctorDetail?.rejectReason !=undefined">
            <img src="assets/images/svg/reject.svg" alt="">
            <p class="m-0 rejectedReason ps-1" >Rejection reason</p>
        </div>
        <div class="d-flex align-items-center mt-3 ms-2" *ngIf="rejectedDoctorDetail?.rejectReason!=null || rejectedDoctorDetail?.rejectReason !=undefined">
            <img src="assets/images/svg/rightblackarrow.svg" alt="">
            <p class="m-0 other-details  ms-3" >{{rejectedDoctorDetail?.rejectReason}}</p>
        </div>

    </div>
</div>




<!-- rejectedHospital -->



<div class="view-container" *ngIf="viewUser=='rejectHospital'">


    <div class="icon-close py-3 pe-4 d-flex justify-content-end"><img (click)="closeModal()" class="cursor" src="assets/images/svg/close.svg" alt=""></div>
    <hr class="p-0 m-0">
    <div class="profile-details d-flex align-items-center">
        <div class="image">
            <img class="patientimg" *ngIf="rejectedHospitalDetail?.profilePic!=null || rejectedHospitalDetail?.profilePic!=undefined ||  rejectedHospitalDetail?.profilePic; else intial" [src]="rejectedHospitalDetail?.profilePic" alt="" >
            <ng-template #intial>
              <div class="imageintial ">
             {{rejectedHospitalDetail?.name?.[0]?.[0] | uppercase}}{{rejectedHospitalDetail?.name?.[1]?.[0] | uppercase}}
            </div>
            </ng-template>

        </div>
        <div class="details">
            <h3 class="username">{{rejectedHospitalDetail?.establishmentName}}</h3>
            <p class="occupation m-0" *ngFor="let hospitalType of rejectedHospitalDetail?.hospitalType">{{hospitalType?.name}}</p>
        </div>
    </div>
    <hr class="m-0 p-0">
<div class="profile-details">
    <div class="d-flex align-items-center mt-4">
        <img src="assets/images/svg/documents.svg" alt="">
        <p class="m-0 document ps-2" >Document</p>
    </div>
    <div class="d-flex align-items-center mt-3 ">
        <ng-container *ngFor="let image of rejectedHospitalDetail?.establishmentProof">
        <img class="proof ms-2 cursor" *ngIf="image?.fileType=='image'" (click)="fullViewProof(image?.url)"  [src]="image?.url" alt="" onError="this.src='assets/images/svg/nectorIcon.svg'">
        <a [href]="image?.url" target="_blank" *ngIf="image?.fileType=='pdf'">
        <img class="proof ms-2 cursor" src="assets/images/png/pdf.jpeg" alt="">
    </a>
    </ng-container>
    </div>
    <div class="d-flex align-items-center mt-4" *ngIf="rejectedHospitalDetail?.rejectReason!=null || rejectedHospitalDetail?.rejectReason !=undefined">
        <img src="assets/images/svg/reject.svg" alt="">
        <p class="m-0 rejectedReason ps-1" >Rejection reason</p>
    </div>
    <div class="d-flex align-items-center mt-3 ms-2" *ngIf="rejectedHospitalDetail?.rejectReason!=null || rejectedHospitalDetail?.rejectReason !=undefined">
        <img src="assets/images/svg/rightblackarrow.svg" alt="">
        <p class="m-0 other-details  ms-3" >{{rejectedHospitalDetail?.rejectReason}}</p>
    </div>

</div>
</div>



