<app-header></app-header>
<div class="d-flex justify-content-between align-items-center patientsHeader">
  <span class="patientdetail"> Patients </span>
  <div class="d-flex otherFeatures" [formGroup]="patientForm">
    <button
      class="me-2 reset"
      (click)="resetFilters()"
      [disabled]="disableResetFilter == false"
      [ngClass]="disableResetFilter == true ? 'nofadebutton' : 'fadebutton'"
    >
      Reset Filters
    </button>
    <div class="filter d-flex align-items-center" [matMenuTriggerFor]="menu">
      <img src="assets/images/svg/filter.svg" alt="" /><span class="ms-2"
        >Add filter</span
      >
    </div>
    <mat-menu #menu="matMenu" class="mt-2 menu">
      <button
        mat-menu-item
        class="d-flex justify-content-between align-items-center"
        (click)="changeGender('gender', $event); $event.stopPropagation()"
      >
        Gender
        <img
          *ngIf="!gender"
          src="assets/images/svg/rightblackarrow.svg"
          alt=""
        />
        <img *ngIf="gender" src="assets/images/svg/blackdropdown.svg" alt="" />
      </button>
      <mat-radio-group
        aria-label="Select an option"
        class="d-flex flex-column"
        *ngIf="gender"
        formControlName="gender"
      >
        <ng-container *ngFor="let gender of genders">
          <mat-radio-button
            [value]="gender.value"
            class="ms-4 mt-2"
            (change)="genderCheck($event, '', true)"
            (click)="$event.stopPropagation()"
            >{{ gender?.gender }}</mat-radio-button
          >
        </ng-container>
      </mat-radio-group>
      <button
        mat-menu-item
        class="d-flex justify-content-between align-items-center mt-2"
        (click)="changeGender('age', $event); $event.stopPropagation()"
      >
        Age
        <img *ngIf="!age" src="assets/images/svg/rightblackarrow.svg" alt="" />
        <img *ngIf="age" src="assets/images/svg/blackdropdown.svg" alt="" />
      </button>
      <div class="ms-4 d-flex flex-column" *ngIf="age">
        <ng-container *ngFor="let ages of ageLimit">
          <mat-checkbox
            color="primary"
            [checked]="ages.selected"
            [value]="ages.value"
            (change)="ageBloodFilter($event, 'age', ages?.value)"
            (click)="$event.stopPropagation()"
            >{{ ages?.age }}</mat-checkbox
          >
        </ng-container>

        <div class="cancel-ok-btn mt-3">
          <button class="cancel">Cancel</button>
          <button class="ok ms-2" (click)="patientList('', '', true)">
            Ok
          </button>
        </div>
      </div>
      <button
        mat-menu-item
        class="d-flex justify-content-between align-items-center mt-2"
        (click)="changeGender('bloodGroup', $event); $event.stopPropagation()"
      >
        Blood Group
        <img
          *ngIf="!bloodGroup"
          src="assets/images/svg/rightblackarrow.svg"
          alt=""
        /><img
          *ngIf="bloodGroup"
          src="assets/images/svg/blackdropdown.svg"
          alt=""
        />
      </button>
      <div class="ms-4 d-flex flex-column" *ngIf="bloodGroup">
        <ng-container *ngFor="let bloods of bloodType">
          <mat-checkbox
            color="primary"
            [checked]="bloods.selected"
            [value]="bloods.value"
            (change)="ageBloodFilter($event, 'bloodGroup', bloods?.value)"
            (click)="$event.stopPropagation()"
            >{{ bloods?.bloodgroup }}</mat-checkbox
          >
        </ng-container>
        <div class="cancel-ok-btn mt-3 mb-3">
          <button class="cancel">Cancel</button>
          <button class="ok ms-2" (click)="patientList('', '', true)">
            Ok
          </button>
        </div>
      </div>
    </mat-menu>
    <div
      class="export mx-3 d-flex align-items-center cursor"
      (click)="exportToCSV(); downloadPatient()"
    >
      <img src="assets/images/svg/export.svg" alt="" /><span class="ms-2"
        >Export</span
      >
    </div>
    <div class="search d-flex align-items-center">
      <img src="assets/images/svg/search.svg" alt="" /><input
        type="text"
        [formControl]="search"
        class="form-control"
        placeholder="Search by Name, Number"
      />
    </div>
  </div>
</div>
<div class="table-responsive w-100 scrolldata mb-5">
  <table mat-table [dataSource]="dataSource" class="">
    <caption></caption>
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef class="text-center headers">
        Image
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="text-center tabledata intialName"
      >
        <img
          class="patientimg"
          *ngIf="
            element?.profilePic != null ||
              element?.profilePic != undefined ||
              element?.profilePic;
            else intial
          "
          [src]="element?.profilePic"
          alt=""
        />
        <ng-template #intial>
          <div class="imageintial">
            {{element?.name?.[0]?.[0] | uppercase





            }}{{element?.name?.[1]?.[0] | uppercase}}
          </div>
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="headers cursor"
        (click)="sortData('fullName')"
      >
        Name
        <img
          class="cursor"
          *ngIf="
            !sortBy.sortOrder ||
            sortBy.sortOrder == 'DESC' ||
            sortBy.sort != 'fullName'
          "
          src="assets/images/svg/sort.svg"
          alt=""
        />
        <img
          *ngIf="sortBy.sortOrder == 'ASC' && sortBy.sort == 'fullName'"
          src="assets/images/svg/sort.svg"
          class="asce cursor"
          alt=""
        />
      </th>

      <td mat-cell *matCellDef="let element" class="tabledata">
        {{ element?.fullName || "N/A" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Gender">
      <th mat-header-cell *matHeaderCellDef class="headers">
        Gender
        <img class="cursor" *ngIf="genderASC" alt="" />
      </th>
      <td mat-cell *matCellDef="let element" class="tabledata">
        <span [ngClass]="element.gender == 1 ? 'male' : 'female'">
          {{
            element?.gender == 1
              ? "Male"
              : element?.gender == 2
              ? "Female"
              : "N/A" || "N/A"
          }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef class="headers">Address</th>
      <td mat-cell *matCellDef="let element" class="tabledata">
        {{ element?.address?.city || "N/A" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Mobile">
      <th mat-header-cell *matHeaderCellDef class="headers">Mobile</th>
      <td mat-cell *matCellDef="let element" class="tabledata">
        +91{{ element?.phone || "N/A" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef class="headers">Email ID</th>
      <td mat-cell *matCellDef="let element" class="tabledata">
        {{ element?.email || "N/A" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Age">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="headers cursor"
        (click)="sortData('age')"
      >
        Age

        <img
          class="cursor"
          *ngIf="
            !sortBy.sortOrder ||
            sortBy.sortOrder == 'DESC' ||
            sortBy.sort != 'age'
          "
          src="assets/images/svg/sort.svg"
          alt=""
        />
        <img
          *ngIf="sortBy.sortOrder == 'ASC' && sortBy.sort == 'age'"
          src="assets/images/svg/sort.svg"
          class="asce cursor"
          alt=""
        />
      </th>
      <td mat-cell *matCellDef="let element" class="tabledata">
        {{ element?.age || "N/A" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="BloodGroup">
      <th mat-header-cell *matHeaderCellDef class="pe-4 headers">
        Blood Group
      </th>
      <td mat-cell *matCellDef="let element" class="pe-4 tabledata">
        {{ bloodType[element?.bloodGroup + 1].bloodgroup || "N/A" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef class="pe-4 headers">
       Action
      </th>
      <td mat-cell *matCellDef="let element" class="pe-4 tabledata">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
            <img
              class="cursor"
              src="assets/images/png/toggle.png"
              alt=""
              width="20"
              height="20"
            />
          </button>

          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              [routerLink]="['hospital', element?._id]"
              class="d-flex align-items-center gap-2"
            >
              <img
                class="cursor"
                src="assets/images/svg/settings.svg"
                alt=""
                width="20"
                height="20"
              />
              <span>Settings</span>
            </button>

            <button
              mat-menu-item
              class="d-flex align-items-center gap-2"
              (click)="EditPatient('Edit', element?._id, page)"
            >
              <img
                class="cursor"
                src="assets/images/svg/editdate.svg"
                alt=""
                width="20"
                height="16"
              />
              <span>Edit</span>
            </button>

            <button
              mat-menu-item
              (click)="deletePatient(element?._id, 'hospital')"
              class="d-flex align-items-center gap-2"
            >
              <img
                class="cursor"
                src="assets/images/svg/delete.svg"
                alt=""
                width="20"
                height="20"
              />
              <span>Delete</span>
            </button>
          </mat-menu>
      </td>
    </ng-container>



    <tr mat-header-row nodatacontent *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: displayedColumns
          | paginate
            : {
                itemsPerPage: itemsPerPage,
                currentPage: page,
                totalItems: totalLength
              };
        let i = index
      "
    ></tr>
  </table>
  <div class="nodata text-center" *ngIf="totalLength == 0">No Data Found.</div>
</div>
<div class="text-center" *ngIf="totalLength > 0">
  <pagination-controls
    (pageChange)="updatePageNumer($event)"
    previousLabel="&lsaquo;"
    nextLabel="&rsaquo;"
  ></pagination-controls>
</div>
