<div class="loginUser">
    <p class="admin-login  m-0">Reset Password</p>
    <hr class="m-0">
    <form class="login-content" [formGroup]="resetpassword" (ngSubmit)="onSubmit()">
        <div class="parentpassword">
            <p class="emailheader m-0">New Password</p>
            <a (click)="onClick()" class="showhide">
                <img class="securepassword cursor" *ngIf="!show" src="assets/images/png/lock@1x.png" alt="">
                <img class="securepassword cursor" *ngIf="show" src="assets/images/png/unlock.png" alt="">
                </a>
            <input [type]="password" class="email form-control" placeholder="New Password" formControlName="new_password"
                (keydown)="validationService.avoidSpace($event)" maxlength="30" minlength="8">
            <div *ngIf="submitted && f.new_password?.errors?.required " class="emailerror"> New Password is required
            </div>
            <div *ngIf="submitted && f.new_password?.errors?.new_password || f.new_password?.errors?.pattern"
                class="emailerror">Confirm Password must contain 8 digits,atleast 1 upper, 1 lower,1 special character
            </div>

        </div>
        <div class="parentpassword">
            <p class="passwordheader m-0">Confirm Password</p>
            <a (click)="onClickHide()" class="showhide">
                <img class="securepassword cursor" *ngIf="!hide" src="assets/images/png/lock@1x.png" alt="">
                <img class="securepassword cursor" *ngIf="hide" src="assets/images/png/unlock.png" alt="">
                </a>
            <input [type]="confirmPassword" class="password form-control" placeholder="Confirm Password"
                formControlName="confirm_password" (keydown)="validationService.avoidSpace($event)" maxlength="30" minlength="8">
            <div *ngIf="submitted && f.confirm_password?.errors?.required " class="emailerror"> Confirm Password is
                required</div>
            <div *ngIf="submitted && f.confirm_password?.errors?.confirm_password ||  f.confirm_password?.errors?.pattern"
                class="emailerror">Confirm Password must contain 8 digits,atleast 1 upper, 1 lower,1 special character
            </div>

        </div>
        <div class="login d-flex justify-content-center"><button>
                Continue
            </button></div>
    </form>
</div>