@import "../../../assets/scss/main.scss";


.loginUser {
  background-color: $white;
  hr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .login-content {
    padding: 23px 32px 32px 32px;

    .email {
      width: 420px;
      height: 48px;
      margin-top: 12px;
    }
  }

  .admin-login,
  .emailheader {
    @include font($primaryFont, 400, 18px);
    color: #000000;
  }

  .admin-login {
    padding: 20px 32px 20px 32px;
  }

  .login{
    button{
    width: 100%;
    background-color:$purple;
    color:$white;
    margin-top:18px;
    @include font($primaryFont, 600, 18px);
    padding: 8px 0;
    border: none;

    }
  }
}