<div class="loginUser">
  <p class="admin-login  m-0">Forgot Password?</p>
  <hr class="m-0">
  <form class="login-content" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotSubmit()">
    <div>
      <p class="emailheader m-0">Email ID</p>
      <input type-="text" class="email form-control" placeholder="Email ID" formControlName="username" maxlength="40"  (keydown)="validationService.avoidSpace($event)">
      <div *ngIf="submitted && f.username?.errors?.required"  class="emailerror">Email address is required</div>
      <div *ngIf="submitted && f.username?.errors?.username || f.username.errors?.pattern"  class="emailerror">Email is invalid</div>
    </div>
   
    <div class="login d-flex justify-content-center"><button >
        Continue
      </button></div>
    </form>
</div>