<app-header>Hospital Settings</app-header>

<main>
  <div class="d-flex settings-container">
    <div class="sidebar-settings">
      <div
        class="nav-item border-bottom-style cursor-pointer"
        routerLink="profile"
        routerLinkActive="active"
      >
        {{ "SETTINGS" | translate }}
      </div>
      <div
        class="nav-item border-bottom-style cursor-pointer"
        routerLink="doctors"
        routerLinkActive="active"
      >
        {{ "OUR_DOCTORS" | translate }}
      </div>
      <div
        class="nav-item border-bottom-style cursor-pointer"
        routerLink="speciality"
        routerLinkActive="active"
      >
        {{ "SPECIALITY" | translate }}
      </div>
      <div
        class="nav-item border-bottom-style cursor-pointer"
        routerLink="procedure"
        routerLinkActive="active"
      >
        {{ "PROCEDURE" | translate }}
      </div>
    </div>
    <div class="router-outlet-main">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
