@import "src/assets/scss/variable.scss";
@import "src/assets/scss/elements/_elements.svg.scss";
.sidebar-settings {
  font-size: 14px;
  height: calc(100vh - 144px);
  background: white;
  width: 18%;
  @media screen and (max-width: "1024px") {
    width: 20% !important;
  }
  border-right: 14px solid #eeeeee;
  .nav-item {
    font-weight: 600;
    padding: 16px 20%;
    &.menu-red {
      color: $red;
    }
    &.active {
      background: $purple;
      color: $white;
    }
  }
}
.router-outlet-main {
  width: 82%;
  @media screen and (max-width: "1024px") {
    width: 80% !important;
  }
  .heading-container {
    padding: 27px 24px;
    background: $white;
  }
}
.subheader-wrapper {
  position: sticky;
  top: 72px;
  left: 0;
  height: 72px;
  background: white;
  .hamber {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pr-5 {
    padding-right: 3rem;
  }
}
