/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */

$font-body: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$base-font-size: 16px;
$letter-spacing: 0.1em;
$font-base-path: "/assets/fonts" !default;

// TYPOLD

@font-face {
  font-family: "Source Sans Pro";
  src: url("#{$font-base-path}/SourceSansPro-Regular.woff")
    format("truetype-variations");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("#{$font-base-path}/SourceSansPro-Regular.woff")
    format("truetype-variations");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("#{$font-base-path}/SourceSansPro-SemiBold.woff")
    format("truetype-variations");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("#{$font-base-path}/SourceSansPro-Bold.woff")
    format("truetype-variations");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
$font-sans_pro: "Source Sans Pro";
$font-families: (
  "sans_pro": $font-sans_pro,
);
